.animacao {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 3S;
}

/* Standard syntax */
@keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

body {
    background: url("../img/cover.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
